@model ASP_spr321.Models.Shop.ShopCartViewModel

@{
    ViewData["Title"] = "Cart";
}

<div class="text-center">
    <h1 class="display-4">Мій кошик</h1>
</div>
@if(Model.Cart.UserAccess.Id == null){
    <h2>Авторизуйтесь для створення замовлення!</h2>
}
else{
    @if (Model.Cart == null)
    {
        <h2>У вас немає активного кошику</h2>
    }
    else
    {
        if (Model.Cart.CartItems.Count == 1)
        {
            <hr />
            
            @foreach(var item in Model.Cart.CartItems)
            {
                @Html.DisplayFor(m=>item,"CartItem")
       }
                <hr/>
                <div class="row">
                    <h4>У вашему кошику @(Model.Cart.CartItems.Count) позиція</h4>
                <h5>Кількість:&nbsp @Model.Cart.sumQw.ToString("0")</h5>
                <h5>Разом:&nbsp @Model.Cart.Price.ToString("0.00")</h5>
                <div style="display:flex;justify-content:space-around;width:100%;">
                    <button class=" btn" style="border:1px solid green;border:30%;background:green;font-size:1.2em;" data-cart-delete="@Model.Cart">Придбати</button>
                    <button class=" btn" style="border:1px solid red;border:30%;background:red;font-size:1.2em;" data-cart-delete="@Model.Cart">Скасувати</button>
                </div>
                
                </div>
                <hr />
                <div>
                    <h6>Вас також може зацікавити!</h6>
                    <div class="overflow-scroll">
                    @foreach (var product in Model.Products)
                    {

                        @Html.DisplayFor(m => product, "ProductCardMini")
                    }
                    </div>
                </div>
                <hr />
            }
            if (Model.Cart.CartItems.Count > 1 && Model.Cart.CartItems.Count < 5)
            {
            @foreach (var item in Model.Cart.CartItems)
            {
                @Html.DisplayFor(m => item, "CartItem")
            }
            <hr />
            <div class="row">
                <h4>У вашему кошику @(Model.Cart.CartItems.Count) позиції</h4>
                <h5>Кількість:&nbsp @Model.Cart.sumQw.ToString("0")</h5>
                <h5>Разом:&nbsp @Model.Cart.Price.ToString("0.00")</h5>
                <div style="display:flex;justify-content:space-around;width:100%;">
                    <button class=" btn" style="border:1px solid green;border:30%;background:green;font-size:1.2em;" data-cart-delete="@Model.Cart">Придбати</button>
                    <button class=" btn" style="border:1px solid red;border:30%;background:red;font-size:1.2em;" data-cart-delete="@Model.Cart">Скасувати</button>
                </div>

            </div>
            <hr />
            <div>
                <h6>Вас також може зацікавити!</h6>
                <div class="overflow-scroll">
                    @foreach (var product in Model.Products)
                    {

                        @Html.DisplayFor(m => product, "ProductCardMini")
                    }
                </div>
            </div>
            <hr />
            }
            if (Model.Cart.CartItems.Count >= 5)
            {
            @foreach (var item in Model.Cart.CartItems)
            {
                @Html.DisplayFor(m => item, "CartItem")
            }
            <hr />
            <div class="row">
                <h4>У вашему кошику @(Model.Cart.CartItems.Count) позицій</h4>
                <h5>Кількість:&nbsp @Model.Cart.sumQw.ToString("0")</h5>
                <h5>Разом:&nbsp @Model.Cart.Price.ToString("0.00")</h5>
                <div style="display:flex;justify-content:space-around;width:100%;">
                    <button class=" btn" style="border:1px solid green;border:30%;background:green;font-size:1.2em;" data-cart-delete="@Model.Cart">Придбати</button>
                    <button class=" btn" style="border:1px solid red;border:30%;background:red;font-size:1.2em;" data-cart-delete="@Model.Cart">Скасувати</button>
                </div>

            </div>
            <hr />
            <div>
                <h6>Вас також може зацікавити!</h6>
                <div class="overflow-scroll">
                    @foreach (var product in Model.Products)
                    {

                        @Html.DisplayFor(m => product, "ProductCardMini")
                    }
                </div>
            </div>
            <hr />
            }
    }

}

